<div class="layer"></div>
<!-- Mobile menu overlay mask -->

<div id="preloader">
    <div data-loader="circle-side"></div>
</div>
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <a href="">
                    <img src="../../../assets/img/logo.png" height="95" alt="" data-retina="true" class="logo_normal">
                    <img src="" width="95" height="27" alt="" data-retina="true" class="logo_sticky">
                </a>
            </div>
            <nav class="col-md-9">
                <ul id="access_top">
                    <app-login></app-login>
                    <app-register></app-register>
                    
                    <li *ngIf='lInicioSession'><a href="" (click)="cerrarSesion()" >Cerrar Sessión</a></li>                        
                </ul>
                <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                <div class="main-menu">
                    <div id="header_menu">
                        <img src="" width="95" height="27" alt="Antioquia" data-retina="true">
                    </div>
                    <a href="#" class="open_close" id="close_in"><i class="icon_close"></i></a>
                    <app-menu></app-menu>
                </div>
                     </nav>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</header>


