<div class="container margin_60_35">
        <h2 class="main_title"><em></em>Vacantes en la Empresa<span>Mayansoft</span></h2>
        <div class="row">
                <div class="col-md-12"><button class="btn danger" (click)="AgregarVante()">Agregar Vacante <i class="fa fa-plus"></i></button></div>
                <br>&nbsp;
            </div>
        <div class="row">
           
            <div class="col-md-3" data-tag="Yoga" *ngFor="let Vacante of Vacantes">
                <div class="course_container">
                    <div class="ribbon top"><span>Nueva</span>
                    </div>
                    <figure>
                        <a [routerLink]="[ '/vacantes/',Vacante.cUrl]">
                            <img src="../../../assets/img/empresas/mayansoft-logo.png"  class="img-responsive" alt="Image">
                            <div class="short_info">Cantidad de Vacantes : {{Vacante.iCantidadDisponibles}} </div>
                        </a>
                    </figure>
                    <div class="course_title">
                        <div class="type"><span>Vacante</span>
                        </div>
                        <h3><a [routerLink]="[ '/vacantes/',Vacante.cUrl]">{{Vacante.cPuesto}}</a></h3>
                        <div class="info_2 clearfix"><span class="price"><sup>{{Vacante.cPuesto}}</sup></span></div>
                         <div class="info_2 clearfix"><a [routerLink]="[ '/vacantes/',Vacante.cUrl]">Editar Vacante <i class="fa fa-edit"></i></a>
                        </div>
                    
                </div>
                <!-- End box course_container -->
            </div>
    
        </div>
        
    </div>
    
