<div class="container margin_60_35">
    <h2 class="main_title">¡Trabaja en las mejores professionistas de México!</h2>
    
    <div class="row">
       
        <div class="col-md-3" data-tag="Yoga" *ngFor="let Postulante of Postulantes">
            <div class="course_container">
                <div class="ribbon top"><span>Seleccionado</span>
                </div>
                <figure>
                    <a [routerLink]="[ '/postulantes/',Postulante.cUrl]">
                        <img src="{{Postulante.cImg}}" class="img-responsive" height="200px">
                        
                    </a>
                </figure>
                <div class="course_title">
                    <div class="type"><span>Postulante</span>
                    </div>
                    <h3><a [routerLink]="[ '/postulantes/',Postulante.cUrl]">{{Postulante.cNombre}}</a></h3>
                    <div class="info_2 clearfix"><span class="price"><sup>{{Postulante.Conocimientos}}</sup></span>
                    </div>
                </div>
            </div>
            <!-- End box course_container -->
        </div>

    </div>
    
</div>
