<div class="container margin_60_35">
    <h2 class="main_title"><em></em>APRENDE Y EXPANDE TU CONOCIMIENTO<span>Con Nuestros Talleres</span></h2>
    
    <div class="row">
       
        <div class="col-md-3" data-tag="Yoga" *ngFor="let Postulante of Postulantes">
            <div class="course_container">
                <div class="ribbon top"><span>Seleccionado</span>
                </div>
                <figure>
                    <a href="">
                        <img src="{{Postulante.cImg}}" width="800" height="533" class="img-responsive" alt="Image">
                        
                    </a>
                </figure>
                <div class="course_title">
                    <div class="type"><span>Postulante</span>
                    </div>
                    <h3><a href="">{{Postulante.cNombre}}</a></h3>
                    <div class="info_2 clearfix"><span class="price"><sup>{{Postulante.Conocimientos}}</sup></span>
                    </div>
                </div>
            </div>
            <!-- End box course_container -->
        </div>

    </div>
    
</div>
