<section class="promo_full">
    <div class="promo_full_wp">
     <div>
      <h3>¿Qué dicen nuestros alumnos?<span> Su opinión es muy importante.</span></h3>
      <div class="container">
       <div class="row">
        <div class="col-md-8 col-md-offset-2">
         <div class="carousel_testimonials">
          <div>
           <div class="box_overlay">
            <div class="pic">
             <figure>
  
  <img src="https://antioquia.cc/backend/web/imagenes/big/testimonial_1.jpg" alt="" class="img-circle">
             </figure>
             <h4>Alondra garcia<small>12 Octubre 2015</small></h4>
            </div>
            <div class="comment">
             "Excelente curso sobre los ministerios que Dios estableció en la biblia."
            </div>
           </div>
           <!-- End box_overlay -->
          </div>
  
          <div>
           <div class="box_overlay">
            <div class="pic">
             <figure><img src="https://antioquia.cc/backend/web/imagenes/big/avatar1.jpg" alt="" class="img-circle">
             </figure>
             <h4>Andrés Maldonado<small>1 Enero 2016</small></h4>
            </div>
            <div class="comment">
             "La verdad no creía en estos cursos, pero mi relación con Dios ha mejorado mucho desde entonces, estoy muy agradecido con el Señor."
            </div>
           </div>
           <!-- End box_overlay -->
          </div>
  
          <div>
           <div class="box_overlay">
            <div class="pic">
             <figure><img src="https://antioquia.cc/backend/web/imagenes/big/banner-testimoniales.jpg" alt="" class="img-circle">
             </figure>
             <h4>Mariela Rosado<small>12 Junio 2018</small></h4>
            </div>
            <div class="comment">
             "Es super fácil tomar estos cursos estoy muy contenta con los resultados que me han ayudado a descubrir mejor lo que Dios quiere para mi vida."
            </div>
           </div>
           <!-- End box_overlay -->
          </div>
  
         </div>
         <!-- End carousel_testimonials -->
        </div>
        <!-- End col-md-8 -->
       </div>
       <!-- End row -->
      </div>
      <!-- End container -->
     </div>
     <!-- End promo_full_wp -->
    </div>
    <!-- End promo_full -->
   </section>
   <!-- End section -->
