<section class="margin_60_35" id="testimonials">
    <div class="container">
     <div class="row">
      <div class="col-md-6">
       <h3>VISUALIZACIÓN DESDE CUALQUIER DISPOSITIVO</h3>
       <p class="lead">Todos los curso de la comunidad educativa pueden ser visualizados desde todos los dispositivos móbiles y computadoras.</p>
       <p>
        </p><p>Nuestra pasión es la predicación de la palabra de Dios, siguiendo el mandamiento de nuestro señor Jesucristo que no dejó en Mateo:28-19  Por tanto, id, y haced discípulos a todas las naciones, bautizándolos en el nombre del Padre, y del Hijo, y del Espíritu Santo; enseñándoles que guarden todas las cosas que os he mandado; y he aquí yo estoy con vosotros todos los días, hasta el fin del mundo. Amén. 
  
  El método utilizado nos permite tener una comunicación directa sobre los avances del programa de forma inmediata con los profesores, de igual forma les permitirá tener conversaciones reflexivas y generar acciones dirigidas a alcanzar los objetivos del curso.</p>
        <div id="compatib">
         Compatible con Android/IOS
        </div>
      </div>
      <div class="col-md-6">
           <img src="https://antioquia.cc/backend/web/imagenes/big/devices.png" style="width:100%;"></div>
     </div>
     <!--  End row -->
    </div>
    <!--  End container-->
   </section>
