<!--footer -->
<footer>
    <div class="container">
        <div class="row ">
            <div class="col-md-3 col-sm-12">
                <p>
                    <img src="../../../assets/img/footer-logoPostulantes.png" width="200" height="48" alt="Lovefit" data-retina="true">
                </p>
                <div id="social">
                    <ul>
                                              
                        <li><a href=""><i class="icon-facebook"></i></a></li>                    
                        <li><a href=""><i class="icon-twitter"></i></a></li>
                        <li><a href=""><i class="icon-google"></i></a></li>
                        <li><a href=""><i class="icon-linkedin"></i></a></li>
                                                    
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
            
            </div>
            <div class="col-md-3 col-sm-6">
                <h4>Contacto</h4>
                <ul>
                                        <li><span style="color: #fff">Teléfono:</span><a href=""></a>
                    </li>
                                            <li><span style="color: #fff">Correo Contacto:</span><a href=""></a>
                    </li>
                    
                </ul>
            </div>
            
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</footer>
<!-- End footer -->
<app-login></app-login>
<app-register></app-register>
