<section id="feat">
    <div class="container">
     <h2 class="main_title"><em></em>Postulantes.com</h2>
     <p class="lead styled">
     Publica tu vacante y encuentra candidatos hoy,tecnología en búsqueda de talento para todo tipo de empresas
     </p>
     <div class="row">
      <div class="col-sm-4 wow fadeIn animated" data-wow-delay="0.2s">
       <div class="box_feat" id="icon_2">
        <h3>TIPS PARA RECLUTAR</h3>
        <p>Checa los tips sobre currículum, entrevistas de trabajo, liderazgo, desarrollo profesional... </p>
       </div>
      </div>
      <div class="col-sm-4 wow fadeIn animated" data-wow-delay="0.5s">
       <div class="box_feat" id="icon_1">
        <h3>EMPRESA DESTACADA</h3>
        <p>Se una de nuestras empresas destacadas, esto te ayudara para reclutar a los mejores professionitas</p>
       </div>
      </div>
      <div class="col-sm-4 wow fadeIn animated" data-wow-delay="1s">
       <div class="box_feat" id="icon_3">
        <h3>CUALQUIER DISPOSITIVO</h3>
        <p>Encuentra miles de proffesionistas en las mejores professiones y reclutalos antes que nadie.</p>
       </div>
      </div>
     </div>
     <!-- End row -->
    </div>
    <!-- End container -->
   </section>
   <!-- End section -->
