<section id="feat">
    <div class="container">
     <h2 class="main_title"><em></em>Postulantes.com</h2>
     <p class="lead styled">
      Forma parte de la generación que se está preparando para obtener un mejor conocimiento y aprovechamiento bíblico a través de los diferentes materiales, cursos y clases en linea que aquí encontrarás, disfruta de todo nuestro contenido educativo sin costo para ti.
     </p>
     <div class="row">
      <div class="col-sm-4 wow fadeIn animated" data-wow-delay="0.2s">
       <div class="box_feat" id="icon_2">
        <h3>CURSOS EN LINEA</h3>
        <p>Usted podrá tener acceso a todos los cursos bíblicos impartidos, de forma fácil y segura a través de nuestra plataforma online. </p>
       </div>
      </div>
      <div class="col-sm-4 wow fadeIn animated" data-wow-delay="0.5s">
       <div class="box_feat" id="icon_1">
        <h3>PROFESORES EN BIBLIA</h3>
        <p>Nuestro equipo de profesores estará guiándole paso a paso, hasta alcanzar un optimo aprovechamiento e inplementación de los temas expuestos.</p>
       </div>
      </div>
      <div class="col-sm-4 wow fadeIn animated" data-wow-delay="1s">
       <div class="box_feat" id="icon_3">
        <h3>CUALQUIER DISPOSITIVO</h3>
        <p>Usted podrá visualizar todos nuestros cursos desde cualquier computadora o dispositivo móvil, con la facilidad de interactuar con el ponente. </p>
       </div>
      </div>
     </div>
     <!-- End row -->
    </div>
    <!-- End container -->
   </section>
   <!-- End section -->
